<div class="scrollable money-exchange deposit-outline" >
	<div class="scrollable-header">
	    <header class="index_header">          
		    <div id="returnButton" class="go-back" ng-click="goBack()"></div>
		    <div class="header-title">{{"payment"|translate}}</div>
    	</header>
	</div>
  
	<div class="scrollable-content">
	
		<div class="menu_list">
		
			<div class="items cf">
				<span class="fl">
					{{errorMessage}}
				</span>
			</div>
			
		</div>
	  
	</div>
	
</div>